  <header>
    <h1><%= title %></h1>
    <menu>
      <ul>
        <div>
          <a href="/<%= one %>">
            <i class="fas <%= oneA %>"></i>
          </a>
        </div>
        <div>
          <a href="/<%= two %>">
            <i class="fas <%= twoA %>"></i>
          </a>
        </div>
        <div>
          <a href="/<%= three %>">
            <i class="fas <%= threeA %>"></i>
          </a>
        </div>
        <div>
          <a href="/<%= four %>">
            <i class="fas <%= fourA %>"></i>
          </a>
        </div>
      </ul>
    </menu>
  </header>