<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %> <%- include('../layouts/header') %>
  <body>
    <!-- <a href="/<%= link %>"> -->
      <button type="submit" action="/switch" method="post">Switch Table</button>
    </a>
    <table>
      <thead>
        <tr>
          <th>Scent</th>
          <th>Amount</th>
        </tr>
      </thead>
      <% output.forEach(object=>{ %>
      <tr>
        <td><%= object.scent %></td>
        <td><%= object.<%= value %> %></td>
      </tr>
      <% }) %>
    </table>
  </body>
  <%- include('../layouts/footer') %>
</html>
