<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %> <%- include('../layouts/header') %>
  <body>
    <form action="/final" method="post">
      <div>
        <select name="candle" id="candle">
          <option value="0">Choose a Candle:</option>
          <% output.forEach(object=> { %>
          <option value="<%=object.name %>"><%= object.name %></option>
          <% }) %>
        </select>
        <br />
        <div class="input">
          <label for="www">Start Weight:</label>
          <br />
          <input type="number" step="0.01" name="www" />
          <br />
        </div>
        <button class="wwwButton" type="submit">Calculate</button>
      </div>
    </form>
    <h3 class="answer"></h3>
  </body>
  <%- include('../layouts/footer') %>
</html>
