<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>

    <link rel="stylesheet" href="/styles/inventory.css" /> 
  </head>
  <header>
    <h1>Inventory</h1>
  </header>
  <body>
    <form class="updateForm" action="/update" method="post">
      <label for="name">Choose a candle:</label>

      <select name="name" id="name" multiple>
        <% output.forEach(object=> { %>

        <option value="<%=object.name %>"><%= object.name %></option>
        <% }) %>
      </select>

      <input type="radio" id="amount" name="column" value="amount" />
      <label for="amount">Amount</label><br />
      <input type="radio" id="num" name="column" value="num" />
      <label for="num">In Stock</label><br />

      <label for="value">Value</label>
      <input type="number" name="value" step="0.01" />

      <button type="submit">Update</button>
    </form>

    <form class="addForm" action="/addInventory" method="post">
      <div class="addF">
      <label for="name">Name</label>
      <input type="text" name="name" /></br>
      <label for="scent">Scent</label>
      <input type="text" name="scent" /></br>
      <label for="amount">Amount</label>
      <input type="number" name="amount" step="0.01" /></br>
      <label for="num">Number</label>
      <input type="number" name="num" /></br>
      <button type="submit">Add</button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Scent</th>
          <th>Amount</th>
          <th>In Stock</th>
        </tr>
      </thead>
      <% output.forEach(object=>{ %>
      <tr>
        <td><%= object.name %></td>
        <td><%= object.scent %></td>
        <td><%= object.amount %></td>
        <td><%= object.num %></td>
      </tr>
      <% }) %>
    </table>
  </body>
  <footer><%- include('../layouts/footer') %></footer>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/js/app.js"></script>
</html>
