<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %> <%- include('../layouts/header') %>
  <body>
    <form class="updateForm" action="/updateScents" method="post">
      <div>
        <div class="select">
          <select name="name" id="name">
            <option value="0">Choose a Candle:</option>
            <% output.forEach(object=> { %>
            <option value="<%=object.name %>"><%= object.name %></option>
            <% }) %>
          </select>
        </div>
        <br />
        <label for="update">Association:</label>
        <input type="text" name="update" />
        <br />
        <button type="submit">Update</button>
      </div>
    </form>
    <form class="addForm" action="/addScents" method="post">
      <div>
        <label for="name">Scent:</label>
        <input type="text" name="name" />
        <br />
        <label for="association">Association:</label>
        <input type="text" name="association" />
        <br />
        <button type="submit">Add</button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Scent</th>
          <th>Association</th>
        </tr>
      </thead>
      <% output.forEach(object=>{ %>
      <tr>
        <td><%= object.name %></td>
        <td><%= object.association %></td>
      </tr>
      <% }) %>
    </table>
  </body>
  <%- include('../layouts/footer') %>
</html>
